body {

margin:0;
font-family:
"Times New Roman",
"Yu Mincho",
serif;

background:#f5f0e6;
color:#33261b;

}


header {

text-align:center;
padding:40px;

background:#18352a;
color:white;

}


header h1 {

font-size:48px;
letter-spacing:5px;

}


.hero {

padding:70px 20px;
text-align:center;

}


.hero h2 {

font-size:32px;

}


.title {

text-align:center;
font-size:32px;

}


.products {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

padding:30px;

}



.card {

background:white;

padding:20px;

box-shadow:
0 5px 15px rgba(0,0,0,.15);

}



.card img {

width:100%;

height:380px;

object-fit:contain;

background:#fff;

}



.price {

font-size:20px;

font-weight:bold;

color:#18352a;

}



.sold {

color:red;

font-weight:bold;

}



footer {

text-align:center;

padding:30px;

background:#18352a;

color:white;

}




@media(max-width:600px){

header h1{

font-size:36px;

}

.hero h2{

font-size:24px;

}

}
.main-image{

max-width:600px;
width:100%;

cursor:pointer;

}


.filter{

text-align:center;

padding:20px;

}

.filter button{

padding:10px 20px;

margin:5px;

background:#18352a;

color:white;

border:none;

cursor:pointer;

}.status{

font-size:22px;
font-weight:bold;

}


.sold{

color:#b00000;

}


.available{

color:#18352a;

}
